:root {
    --dark-blue0: #011f4b;
    --dark-blue1: #03396c;
    --main-blue: #005b96;
    --light-blue1: #6497b1;
    --light-blue0: #b3cde0;
    --duke-blue: #003087;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: var(--main-blue);
    color: #fff;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
    font-size: calc(0.5em + 0.8vw);
    /* background-image: url('images/circuit_background.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; */
}

a:hover {
    text-decoration: none;
}


.links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20vw;
}

.link-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2vh 3vw;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden; 
    transition: background-color 0.3s ease; 
}

.link-subcontainer-active{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2vh 3vw;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden; 
    transition: background-color 0.3s ease; 
    background-color: var(--dark-blue1);
}

.link-subcontainer a {
    text-decoration: none; 
}

.link-subcontainer a:hover {
    text-decoration: none; 
}

.link-subcontainer::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%; 
    height: 200%; 
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.4) 0%, transparent 70%);
    transform: translate(-50%, -50%) scale(0); /* Center the gradient and scale down to 0 */
    transition: transform 0.5s ease;
    pointer-events: none;
}

.link-subcontainer:hover::before {
    transform: translate(-50%, -50%) scale(1); /* Scale up to normal size on hover */
}

.link-subcontainer-active::before {
    transform: translate(-50%, -50%) scale(1.5); /* Further scale up when active */
    background-image: radial-gradient(circle, rgba(0, 115, 255, 0.6) 0%, transparent 50%); /* Change gradient size and opacity */
}

.link-subcontainer-active a {
    text-decoration: none; 
}

.link-subcontainer-active a:hover {
    text-decoration: none; 
}

.links-container a {
    color: #fff;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; 
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns of equal width */
    gap: 10vh 10vw;
    margin: 1vh 1vw;
    padding: 0; 
    width: 90%;
    height: 90%;    
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #fff; 
    border: 1px solid #ddd; 
    padding: 1vw;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;;
    width: auto;
    cursor: pointer;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(31, 53, 255, 0.3); 
}

.project-image {
    width: 100%; 
    height: auto; 
    border-radius: 5px;
}

/* 
----------------------------------------------
                About Section 
----------------------------------------------
*/

.profile-image {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    margin: 1vh 1vw;
    border: 2px solid var(--main-blue);
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff; 
    width: 100%;
    height: auto;
}

/* Education */
.about-sub-container-education {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-image: url('images/dukeautum.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20vh 0vw;
    border-top: black 4px solid;
    border-bottom: black 4px solid;
}

.about-sub-header-education {
    font-size: calc(1.0em + 1.0vw);
    color: #FFFFFF;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
}

.education-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.education-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;  
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
    width: 45%;
    min-height: 24vh;
    padding: 1vh 1vw;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.education-info:hover {
    background: rgb(255, 255, 255);
    transform: scale(1.005);
}

.education-school {
    font-size: calc(0.7em + 0.5vw);
    color: #000000;
    margin: 0px;
    font-weight: bold;
}

.education-degree {
    font-size: calc(0.6em + 0.5vw);
    color: #000000;
    margin-bottom: 0px;
    font-style: italic;
}

.education-major {
    font-size: calc(0.6em + 0.5vw);
    color: #000000;
    margin-bottom: 0px;
}

.education-gpa {
    font-size: calc(0.6em + 0.5vw);
    color: #000000;
    margin-bottom: 0px;
}

/* Experience */
.about-sub-container-experience {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-image: url('images/books.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20vh 0vw;
    border-bottom: black 4px solid;
}

.about-sub-header-experience {
    font-size: calc(1.0em + 1.0vw);
    color: #ffffff;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
}

.experience-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.experience-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 1vh 1vw;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
    width: 28%;
    min-height: 24vh;
    padding: 1vh 1vw;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.experience-info:hover {
    background: rgb(255, 255, 255);
    transform: scale(1.005);
}

.expereince-company {
    font-size: calc(0.7em + 0.5vw);
    color: #000000;
    margin: 0px;
    font-weight: bold;
}

.expereince-role {
    font-size: calc(0.6em + 0.5vw);
    color: #000000;
    margin-bottom: 0px;
}

.expereince-time {
    font-size: calc(0.6em + 0.5vw);
    color: #000000;
    margin-bottom: 0px;
}

/* Skills */
.about-sub-container-skills {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-image: url('images/skills6.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10vh 0vw;
}

.about-sub-header-skills {
    font-size: calc(1.0em + 1.0vw);
    color: #ffffff;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
}

.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skill-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    margin: 1vh 0vw;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.skill-class:hover {
    background: rgb(255, 255, 255);
    transform: scale(1.005);
}

.skill-class-header {
    font-size: calc(0.5em + 0.8vw);
    color: #000000;
}

.skill-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skill-icon {
    width: 4vw;
    height: 4vw;
    border-radius: 6px;
}

.skill {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5vh 0.5vw;
    transition: transform 0.3s ease-in-out;
    color: #000000;
    font-size: calc(0.5em + 0.6vw);
    text-align: center;
    margin: 0vh 2vw;
}

.skill:hover {
    transform: scale(1.05);
}

/* Interests */
.about-sub-container-interests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--dark-blue0);
}

.about-sub-header-interests {
    font-size: calc(1.0em + 0.5vw);
    color: #FFFFFF;
}

.interests-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vh 1vw;
    padding: 1vh 1vw;
    background-color: yellow;
}

footer {
    text-align: center;
    padding: 1vh 0vw;
    width: 100%;
    background: #333;
    color: white;
}

/*  For smaller screens */
@media (max-width: 768px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
    }

    .profile-image {
        width: 50vw;
        height: 50vw;
        border-radius: 50%;
        margin: 1vh 1vw;
        border: 2px solid var(--main-blue);
    }
}

@media (max-width: 480px) {
    .projects-container {
        grid-template-columns: 1fr; /* One column on very small screens */
    }

    .profile-image {
        width: 50vw;
        height: 50vw;
        border-radius: 50%;
        margin: 1vh 1vw;
        border: 2px solid var(--main-blue);
    }

    .education-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;  
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.9);
        width: 45%;
        min-height: 18vh;
        padding: 1vh 1vw;
        transition: background 0.3s ease-in-out;
    }

    .experience-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        padding: 1vh 1vw;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.9);
        width: 28%;
        min-height: 18vh;
        padding: 1vh 1vw;
        transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    .skill {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5vh 0.5vw;
        transition: transform 0.3s ease-in-out;
        color: #000000;
        font-size: calc(0.5em + 0.6vw);
        text-align: center;
        margin: 0vh 1.0vw;
    }

    .skill-icon {
        width: 4vw;
        height: 4vw;
        border-radius: 3px;

    }
}




